# Build artifacts
*.o
*.elf
*.elf.debug
*.map

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor files
*~
*.swp
*.swo
.DS_Store

# IDE files
.vscode/
.idea/
